.upload_widget_button {
  border: 2px solid #6b7487;
  box-shadow: none;
  color: #6b7487;
  cursor: pointer;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 80px;
  padding: 6px;
  text-align: center;
  text-decoration: uppercase;
}
.custom-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.custom-form__add_new_image {
  width: 900px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-form__add_new_image.empty {
  height: auto;
}
@media screen and (max-width: 768px) {
  .custom-form__add_new_image {
    width: auto;
    flex-direction: column;
  }
}
.custom-form__section {
  width: 900px;
  min-height: 210px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
}
.custom-form__section:hover {
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .custom-form__section {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: auto;
  }
  .custom-form__section:hover {
    background-color: white;
  }
}
.custom-form__image {
  display: flex;
  flex-direction: column;
  position: relative;
}
.custom-form__image-container {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
  text-align: right;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .custom-form__image-container {
    width: auto;
    justify-content: center;
  }
}
.image-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .image-details {
    width: auto;
  }
}
.image-details__text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
}
.image-details__text-line {
  display: block;
}
.image-details-select, #top .main_color select {
  background-color: white;
  margin: 4px 0;
  padding: 4px 0;
  width: 300px;
  font-size: 12px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: initial;
}
@media screen and (max-width: 768px) {
  .image-details-select, #top .main_color select {
    width: 100%;
  }
}
#top .main_color select.image-details-select {
  padding-left: 2px;
}
.image-filename {
  color: whitesmoke;
  font-size: 24px;
  text-align: left;
}
.empty .image-filename {
  color: gray;
}
.edit-details-button {
  color: gray;
  cursor: pointer;
  font-weight: bold;
  display: none;
}
.image-details__form {
  display: none;
}
.form-toggle {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.image-details__form input {
  height: 20px;
  margin: 4px 0;
  width: 150px;
  border-bottom: 1px solid #e1e1e1 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
.cloudinary-thumbnails {
  margin: 0 !important;
}
.cloudinary-thumbnail {
  margin: 0 !important;
}
.cloudinary-thumbnail img {
  border: none !important;
}
.delete-image-button {
  display: none;
  color: gray;
  cursor: pointer;
  text-align: center;
  width: 100%;
  bottom: -20px;
  position: absolute;
  right: 0px;
}
.delete-image-button:hover {
  color: dimgray;
}
@media screen and (max-width: 768px) {
  .delete-image-button {
    position: absolute;
    margin-top: 15px;
    text-align: center;
  }
}
.gravity_form_field .ginput_container input[type='text'], .gravity_form_field .ginput_container textarea {
  background-color: white !important;
}
.gravity_form_field .ginput_container input[type='text']:hover, .gravity_form_field .ginput_container textarea:hover {
  background-color: whitesmoke;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  background-color: #d4390e;
  border-radius: 3px;
  font-size: 16px;
  height: 60px;
  margin: 0 auto;
  width: 200px;
}
.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover {
  background-color: #af2f0c;
  border: 2px solid #af2f0c;
  color: white;
}
.gform_wrapper .gform_footer:not(.top_label) {
  margin: 0 auto;
  text-align: center;
}
