body #tabtastic .avia-builder-el-first,
body .container_wrap .avia-builder-el-first {
  padding-top: 0 !important;
  text-align: inherit;
}

.content, .sidebar {
  padding-top: 30px;
  padding-bottom: 30px;
}

#top .social_bookmarks {
  display: inline-flex;
  height: auto;

  li {
    width: 40px;

    a {
      float: left;
      width: 40px;
      line-height: 40px;
      display: block;
      margin: 0px;
      outline: none;
      padding: 0;
      min-height: 40px;
      height: 100%;
      overflow: visible;
      z-index: 2;
      position: relative;
      text-align: center;
    }
  }
}

.social_bookmarks {
  [data-av_icon]:before {
    color: white;
    font-size: 20px;
  }
}

td {
  padding: 4px 12px;
}

#top .av-section-tab-title {
  padding: 10px 50px 0px 50px;
  display: inline-block;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    padding: 10px 20px 0 20px;
  }

  @media screen and (max-width: 580px) {
    padding: 0;
  }
}

.avia-tab-title-padding-none .av-outer-tab-title {
  top: 0;
}

.av-inner-tab-title {
  font-size: 16px;

  @media screen and (max-width: 580px) {
    font-size: 14px;
    height: 30px;
  }

  @media screen and (max-width: 350px) {
    height: auto !important;
  }
}

.av-tab-section-image {
  @media screen and (max-width: 580px) {
    height: auto;
    margin: 0 auto;
    width: 50px;
  }

  @media screen and (max-width: 350px) {
    display: none;
  }
}

.av-tab-section-tab-title-container .avia-tab-title-padding-none {
  padding: 0;

  @media screen and (max-width: 768px) {
    left: 0 !important;
    min-width: 0 !important;
    width: 100% !important;
  }
}
