.upload_widget_button {
  border: 2px solid gray;
  box-shadow: none;
  color: gray;
  cursor: pointer;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 80px;
  padding: 6px;
  text-align: center;
  text-decoration: uppercase;

}

.custom-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.custom-form__add_new_image {
  width: 900px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form__section {
  width: 900px;
  min-height: 230px;
  display: flex;
  justify-content: center;
  background-color: white;

  &:hover{
    background-color: whitesmoke;
  }
}

.custom-form__image-container {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
  text-align: right;
  width: 50%;
}

.image-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 50%;
}

.image-details__text{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
}

.image-details__text-line {
  display: block;
}

.image-details-select, #top .main_color select {
  background-color: white;
  margin: 4px 0;
  padding: 4px 0;
  width: 300px;
}

.image-filename {
  color: gray;
  font-size: 24px;
}

.edit-details-button {
  color: gray;
  cursor: pointer;
  font-weight: bold;
  display: none;
  padding-left: 8px;
}

.image-details__form {
  display: none;
  padding-left: 19px;
}

.form-toggle {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.image-details__form input {
  height: 20px;
  margin: 4px 0;
  width: 150px;
  border-bottom: 1px solid #e1e1e1 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.cloudinary-thumbnails {
  margin: 0 !important;
}

.cloudinary-thumbnail {
  margin: 0 !important;
}

.cloudinary-thumbnail img {
  border: none !important;
}

// GRAVITY FORM OVERRIDES
.gravity_form_field {
  .ginput_container{
    input[type='text'], textarea {
      background-color: white !important; // deeply nested classnames!

      &:hover {
        background-color: whitesmoke;
      }
    }
  }
}
